@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

*{
    font-family: 'Alkalami', serif;
}

body {
  background-color: rgb(247, 225, 180);
  color: rgb(41, 35, 23);
}

nav {
  padding: 10px;
  display: flex;
  background-color: rgb(54, 54, 54);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 30px;
}

nav a {
  text-decoration: none;
}

.nav-link {
  color: rgb(41,35,23);
  display: flex;
}

.nav-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
}

.nav-item a {
  transition: all 0.5s ease-in-out;
  color: rgb(247, 225, 180);
}

.nav-item a:hover {
  color: white;
  transform: scale(1.5);
}
